
  .invoice {
    font-family: 'Arial', sans-serif;
    max-width: 76mm; /* Adjust width for thermal printer */
    font-size: 10px;
    line-height: 1.2;
  }
  
  h2, h3 {
    margin: 2mm 0;
    font-size: 12px;
  }
  
  p {
    margin: 1mm 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    border-bottom: 1px solid #ccc;
    padding: 1mm 0;
  }
  
  button {
    margin-top: 5mm;
  }
  @media print {
    body * {
      visibility: hidden;
    }
    #invoiceElement, #invoiceElement * {
      visibility: visible;
    }
    #invoiceElement {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
  