<footer class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h2>About Us</h2>
        <p>
          This project is developed by <strong>Hashmat Ali</strong>. We aim to
          provide quality software solutions with a focus on Angular development.
        </p>
      </div>
      <div class="footer-section links">
       
      </div>
      <div class="footer-section contact">
        <h2>Contact Us</h2>
        <p>Email: hashmatali1431&#64;gmail.com</p>
        <p>Phone: +92-319-5312100</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 by Hashmat Ali | All Rights Reserved</p>
    </div>
  </footer>
  